/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
  }
  
  header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo h1 {
    font-size: 24px;
    color: #333;
  }
  
  nav.login-signup a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  nav.login-signup a.btn:first-child {
    margin-right: 10px;
    background-color: #007bff;
  }
  
  nav.login-signup a.btn:last-child {
    background-color: #28a745;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
  }
  
  .main-content {
    margin-top: 100px;
  }
  
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
  }
  




  .form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }